body {
    background-image: url("dog.png"), url("BackgroundMain.jpeg");
    background-position: bottom 10px, top;
    background-size:default, 1150px 1163px;
    background-repeat: no-repeat,repeat;

    vertical-align: top;
    max-width: 100%;
    width: auto;
    /* text-align: center;   */
    text-align: center;
    }

h1 {
    text-align: center;
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* img {
  position:absolute;
  bottom: 0px;
  left: 0px
  } */