body {
    background-image: url("header.png"), url("pig.png"), url("BackgroundMain.jpeg");
    background-size:initial;
    background-position:top, 100% 100%, top;
    background-repeat: repeat-x, no-repeat, repeat;
    background-attachment: scroll,fixed;

    vertical-align: top;
    max-width: 100%;
    width: auto;
    padding: 70px 100px 15px 60px;
    /* text-align: center; */
    }

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    }

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


.info {
    /* float: right */
    /* clear; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px
}