body {
    background-color: blanchedalmond;
    background-image: url("background.png");
    background-size: 1420px 1000px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    
    vertical-align: top;
    max-width: 100%;
    width: auto;
    text-align: center;   
}

h1 {
    text-align: center;
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 span {
position: relative;
top: 20px;
display: inline-block;
-webkit-animation: bounce 0.3s ease infinite alternate;
font-size: 50px;
color: #fff;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
-webkit-animation-delay: 0.1s;
}

h1 span:nth-child(3) {
-webkit-animation-delay: 0.2s;
}

h1 span:nth-child(4) {
-webkit-animation-delay: 0.3s;
}

h1 span:nth-child(5) {
-webkit-animation-delay: 0.4s;
}

h1 span:nth-child(6) {
-webkit-animation-delay: 0.5s;
}

h1 span:nth-child(7) {
-webkit-animation-delay: 0.6s;
}

h1 span:nth-child(8) {
-webkit-animation-delay: 0.2s;
}

h1 span:nth-child(9) {
-webkit-animation-delay: 0.3s;
}

h1 span:nth-child(10) {
-webkit-animation-delay: 0.4s;
}

h1 span:nth-child(11) {
-webkit-animation-delay: 0.5s;
}

h1 span:nth-child(12) {
-webkit-animation-delay: 0.6s;
}

h1 span:nth-child(13) {
-webkit-animation-delay: 0.7s;
}

h1 span:nth-child(14) {
-webkit-animation-delay: 0.8s;
}

h1 span:nth-child(15) {
    -webkit-animation-delay: 0.9s;
}

@-webkit-keyframes bounce {
100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
    0 50px 25px rgba(0, 0, 0, 0.2);
    }
}


h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  
.table_of_content {
    line-height: 40px;
    font-size: large;
}

.button {
    align-items: center;
    background-color: #FFE7E7;
    background-position: 0 0;
    border: 1px solid #FEE0E0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #D33A2C;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 25px;
    padding: 2px 12px;
    position: relative;

    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color:lightcoral;
    color: black;
}

.button::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }