h1 {
    text-align: center;
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
body {
    background-color: blanchedalmond;
    background-image: url("background.png");
    background-size: 1420px 1000px;
    
    vertical-align: top;
    max-width: 100%;
    width: auto;
    text-align: center;   
}
  
.table_of_content {
    line-height: 40px;
    font-size: large;
  }