{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
  <title>The Tiny Kitchenware Library</title>
</head>
<body>
  <div class="page_title">
    <br>
    <br>
      <h1>
      The Tiny 
      <span>K</span> 
      <span>i</span>
      <span>t</span>
      <span>c</span>
      <span>h</span>
      <span>e</span>
      <span>n</span>
      <span>w</span>
      <span>a</span>
      <span>r</span>
      <span>e</span>
      Library
      </h1>
  </div>


  <h4>
    <em>We are happy to meet you! We are small, but still growing</em>
  </h4>

  <div class="table_of_content">
      <button class="button" role="button"><a href="archive/"> Archives </a></button> <br>
      <button class="button" role="button"><a href="exhibit/"> Exhibits </a></button> <br>
      <button class="button" role="button"><a href="aboutus/"> About Us </a></button> <br>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
      <div style="text-align:center">
        <h2>Contact Us</h2>
        <em>Fell free to ask questions and share your feedback!</em>
        <p>Luna Wang: lunawwy@berkeley.edu</p>
        <p>Tingyue Cui: tingyue_cui@berkeley.edu</p>
        <p>Lina Matine: linamatine@berkeley.edu</p>
        <p>Danica Chen: danicachen2019@berkeley.edu</p>
      </div>    
  </div>

  <div class="github">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <a href="https://github.com/lunawwy01/tinyarchive">
      <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-4.466 19.59c-.405.078-.534-.171-.534-.384v-2.195c0-.747-.262-1.233-.55-1.481 1.782-.198 3.654-.875 3.654-3.947 0-.874-.312-1.588-.823-2.147.082-.202.356-1.016-.079-2.117 0 0-.671-.215-2.198.82-.64-.18-1.324-.267-2.004-.271-.68.003-1.364.091-2.003.269-1.528-1.035-2.2-.82-2.2-.82-.434 1.102-.16 1.915-.077 2.118-.512.56-.824 1.273-.824 2.147 0 3.064 1.867 3.751 3.645 3.954-.229.2-.436.552-.508 1.07-.457.204-1.614.557-2.328-.666 0 0-.423-.768-1.227-.825 0 0-.78-.01-.055.487 0 0 .525.246.889 1.17 0 0 .463 1.428 2.688.944v1.489c0 .211-.129.459-.528.385-3.18-1.057-5.472-4.056-5.472-7.59 0-4.419 3.582-8 8-8s8 3.581 8 8c0 3.533-2.289 6.531-5.466 7.59z"/>
      </a>
  </svg>
  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
    <a href="https://digitalhumanities.berkeley.edu/">
    <path d="M24 21h-3l1-3h1l1 3zm-12.976-4.543l8.976-4.575v6.118c-1.007 2.041-5.607 3-8.5 3-3.175 0-7.389-.994-8.5-3v-6.614l8.024 5.071zm11.976.543h-1v-7.26l-10.923 5.568-11.077-7 12-5.308 11 6.231v7.769z"/></svg>
  </a>
  </div>
</body>

</html>