{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
  <title>The Tiny Kitchenware Library</title>
</head>
<body>
  <div class="page_title">
    <br>
    <br>
      <h1>
      The Tiny Kitchenware Library
      </h1>
  </div>
  <div class="intro">
      <h4>
      <em>We are happy to meet you! We are small, but still growing.</em>
      </h4>
  </div>
  <div class="table_of_content">
      <button class="button" role="button"><a href="archive/"> Archives </a></button> <br>
      <button class="button" role="button"><a href="exhibit/"> Exhibits </a></button> <br>
      <button class="button" role="button"><a href="aboutus/"> About Us </a></button> <br>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
      <div style="text-align:center">
        <h2>Contact Us</h2>
        <em>Fell free to ask questions and share your feedback!</em>
        <p>Wenyue Wang: lunawwy@berkeley.edu</p>
        <p>Tingyue Cui: tingyue_cui@berkeley.edu</p>
        <p>Lina Matine: linamatine@berkeley.edu</p>
        <p>Danica Chen: danicachen2019@berkeley.edu</p>
      </div>    
  </div>
</body>

</html>