{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
</head>
<body>
  <div class="header"></div>
  <div class="page_title">
    <br>
    <br>
      <h1>
      The Tiny Kitchenware Library
      </h1>
  </div>
  <div class="intro">
      <h4>
      <em>We are happy to meet you! We are small, but still growing.</em>
      </h4>
  </div>

  <div class="table_of_content">
      <a href="archive/"> Archives </a> <br>
      <a href="exhibit/"> Exhibits </a> <br>
      <a href="aboutus/"> About Us </a> <br>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
      <div style="text-align:center">
        <h2>Contact Us</h2>
        <em>Fell free to ask questions and share your feedback!</em>
        <p>Wenyue Wang: lunawwy@berkeley.edu</p>
      </div>    
  </div>

</body>

{% endblock %}